@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500;600;800&family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
  overflow-x: hidden;
  color: #505962;
}

.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
  /* background-color: #aec6cf; */
}

/* Used Throughout the Page */

.title-holder h3 {
    text-align: center;
    font-size: 80px;
    color: #f5f5f5;
    font-weight: 700;
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
    margin: 0;
}

.heading-underline {
    width: 20rem;
    height: .4rem;
    background-color: #f5f5f5;
    margin: 0 auto 2rem;
}

@media (max-width: 576px) {
    .title-holder h3 {
        font-size: 60px;
    }
    .heading-underline {
        width: 14rem;
    }
}


/* Navigation */

.navbar {
  text-transform: uppercase;
  font-weight: 800;
  font-size: .7rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.6) !important;
}

.navbar-brand {
    font-size: 1.3rem;
}

.navbar-nav li {
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link:hover {
  color: #aec6cf;
}

@media (min-width: 768px) {
    .navbar {
        font-size: .8rem;
    }
    .navbar-brand {
        font-size: 1.5rem;
    }
}
@media (min-width: 992px) {
    .navbar {
        font-size: 1.2rem;
    }
    .navbar-brand {
        font-size: 1.8rem;
    }
}

/* Landing Page */
.carousel-inner {
    background-image: linear-gradient(to right, #aec6cf 0%, #b6b6db 100%);
}

.home-inner-1{
  background-image: url(img/canada2.jpg);
}
.home-inner-2{
  background-image: url(img/canada3.jpg);
}
.home-inner-3{
  background-image: url(img/canada1.jpg);
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}

.caption h1 {
  font-size: 3.8rem;
  font-weight: 800;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}

/* About section */

.blog-wrap-all {
    /* background-color: #aec6cf; */
    background-image: linear-gradient(to right, #aec6cf 0%, #b6b6db 100%);
}

.blog-body {
    width: 80%;
    margin: 0 auto;
    /* height: 800px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 1.5rem;
}

.blog-post {
    width: 100%;
    max-width: 98rem;
    padding: 5rem;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,0.2);
    /* display: flex; */
    align-items: center;
    border-radius: .8rem;
}

.blog-post-img {
    min-width: 30rem;
    max-width: 30rem;
    height: 30rem;
    transform: translateX(-9rem);
    position: relative;
    /* flex: 0.5; */
}

.blog-post-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}

.blog-post-img::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: .5rem .5rem 3rem 1px rgba(0,0,0,0.05);
}

.blog-post-date span{
    display: block;
    /* color: rgba(0,0,0,.5); */
    color: gray;
    font-size: 1.6rem;
    font-weight: 600;
    margin: .5rem 0;
}

.blog-post-title {
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    /* color: #4facfe; */
    color: #b6b6db;
}

.blog-post-text {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    /* color: rgba(0, 0, 0, .7); */
    color: gray;
}

.blog-post-cta {
    display: inline-block;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #fff;
    background-image: linear-gradient(to right, #b6b6db 0%, #aec6cf 100%);
    /* background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */
    border-radius: .8rem;
    text-decoration: none;
}

.blog-post-cta:hover {
    background-image: linear-gradient(to right, #aec6cf 0%, #b6b6db 100%);
    text-decoration: none;
}

@media  screen and (max-width: 1300px) {
    .blog-post-img {
        min-width: 23rem;
        max-width: 23rem;
        height: 23rem;
        transform: translateX(-10rem);
    }
}

@media screen and (max-width: 1068px) {
    .blog-post {
        max-width: 80rem;
        padding: 3rem;
    }
    .blog-post-img {
        min-width: 20rem;
        max-width: 20rem;
        height: 20rem;

    }
}

@media screen and (max-width: 992px) {
    .blog-post {
        padding: 20px;
        flex-direction: column;
    }
    .blog-post-img {
        min-width: 100%;
        max-width: 100%;
        height: 500px;
        transform: translate(0, 0);
    }
    .blog-post-title {
        font-size: 2.3rem;
        margin: 1.3rem 0 1.7rem;
    }
    .blog-post-text {
        margin-bottom: 3rem;
        font-size: 1.2rem;
        color: rgba(0, 0, 0, .7);
    }

    .blog-body {
        padding:50px 24px ;
        width: 80%;
    }
    .blog-post-title {
        font-size: 2rem;
        margin: 8px 0 20px;
    } 
    .blog-post-text {
        margin-bottom: 1.6rem;
        font-size: 1.1rem;
    }
    .blog-post-cta {
        display: inline-block;
        padding: 1rem 2rem;
        font-size: 1rem;
        border-radius: .8rem;
    }
}

@media screen and (max-width: 768px) {
    .blog-post {
        padding: 10px;
        /* flex-direction: column; */
    }
    .blog-post-img {
        min-width: 100%;
        max-width: 100%;
        height: 350px;
        transform: translate(0, 0);
    }

    .blog-body {
        /* padding:50px 24px ; */
        width: 100%;
    }
    /* .blog-post-title {
        font-size: 2rem;
        margin: 8px 0 20px;
    } 
    .blog-post-text {
        margin-bottom: 1.6rem;
        font-size: 1.1rem;
    }
    .blog-post-cta {
        display: inline-block;        
        padding: 1rem 2rem;
        font-size: 1rem;
        border-radius: .8rem;
    } */
}

/*Vision section */

.background_wrap {
    padding: 0 40px 40px;
    background-color: rgba(204, 204, 255, 0.6);
    border-radius: 10px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    border-style: solid;
    border-color: white;
    margin: 60px;
}


.vision-container {
    /* color: #f5f5f5; */
    /* color: #ccccff; */
    color: rgb(34, 34, 34);
    font-size: 20px;
    font-weight: 500;
}

.vision-context h2 {
    font-weight: 800;
    /* color: white; */
    /* color: #F6D7A7; */
    color: #835860;
}

.vision-context span {
    /* color: rgb(207, 89, 83); */
    font-size: 27px;
    font-weight: 800px;
}

.vision-context-span1 {
    color: #fff;
}

.vision-context-span2 {
    color: #9dcfcb;
}

.vision-context-span3 {
    color: #ffc1c1;
}

/* vision fixed-background Section */
.fixed {
  background-image: url(img/newyork.jpg);
  z-index: -1;
}

/* .dark {
  background: #ccccff;
  opacity: 0.8;
  padding: 7rem 2rem;
} */


@media screen and (min-width: 1200px) {

    .background_wrap {
        padding: 40px 70px 70px;
        margin: 100px;
    }
    .vision-container {
        font-size: 24px;
        font-weight: 500;
    }
    
    .vision-context h2 {
        font-weight: 800;
        font-size: 38px;
    }
    
    .vision-context span {
        font-size: 30px;
        font-weight: 700px;
    }
}

@media screen and (max-width: 992px) {

    .background_wrap {
        padding: 0 15px 15px;
        margin: 80px;
    }
}

@media screen and (max-width: 768px) {

    .background_wrap {
        padding: 0 15px 15px;
        margin: 20px;
    }
}
@media screen and (max-width: 576px) {

    .background_wrap {
        padding: 0 10px 10px;
        margin: 15px;
    }
    .vision-container {
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
    }
    
    .vision-context h2 {
        font-weight: 800;
        font-size: 28px;
    }
    
    .vision-context span {
        font-size: 20px;
        font-weight: 700px;
    }
}


/* Skills Section */

.skill-container {
    background-image: linear-gradient(to right, #b6b6db 0%, #aec6cf 100%);
    /* margin: 30px; */
    padding: 30px;
}

.skill-row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.skill-image {
    /* background: #ccccff; */
    background-image: linear-gradient(to right, #aec6cf 0%, #b6b6db 100%);
    position: relative;
    border-radius: 20px;
    flex: 1;
    max-width: 460px;
    height: 300px;
    margin: 20px;
    overflow: hidden;
}

.skill-image img {
    opacity: 0.8;
    position: relative;
    vertical-align: top;
    transition: 0.6s;
    transition-property: opacity;
    height: 300px;
    width: 100%;
}

.skill-image:hover img {
    opacity: 0.1;
}

.skill-image .skill-details {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    /* color: purple; */
    color: #963496;
    width: 100%;
    height: 100%;
}

.skill-image .skill-details h2 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 70px;
    color: black;
    transition: 0.4s;
    transition-property: transform;
}

.skill-image .skill-details h2 span{
    font-weight: 900;
}

.skill-image:hover .skill-details h2 {
    transform: translateY(-30px);
}

.skill-image .skill-details p {
    margin: 30px 30px 0 30px;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    opacity: 0;
    transition: 0.6s;
    transition-property: opacity, transform;
}

.skill-image:hover .skill-details p {
    opacity: 1;
    transform: translateY(-40px);
}

@media (max-width: 1080px) {
    .skill-image {
        flex: 100%;
        max-width: 480px;
    }
}

@media (max-width: 576px) {
    .skill-image:hover .skill-details h2 {
        transform: translateY(-35px);
    }
    .skill-image:hover .skill-details p {
        transform: translateY(-60px);
    }

    .skill-container {
        padding: 5px;
    }

    .skill-image .skill-details h2 {
        margin-top: 50px;
        font-size: 29px;
    }
    .skill-image .skill-details p {
        font-size: 18px;
    }
}

/* Hobby Section */

.movie-wrap {
    width: 100% auto;
    background-image: linear-gradient(to right, #aec6cf 0%, #b6b6db 100%);
}

.hobby-wrap-all {
    background-image: linear-gradient(to right, #aec6cf 0%, #b6b6db 100%);
    padding: 30px;
}

.hobby-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.hobby-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.hobby-container .card {
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #fff;
    margin: 50px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.hobby-container .card:hover {
    height: 420px;
}

.hobby-container .card .imgBx {
    position: relative;
    width: 250px;
    height: 250px;
    top: -70px;
    left: 9px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.hobby-container .card .imgBx img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 4px;
}

.hobby-container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: left;
    /* color: #111; */
    color: rgb(85, 85, 85);
    font-weight: 600;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.hobby-container .card:hover .content {
    visibility: visible;
    opacity: 1;
    /* margin: -40px; */
    margin-top: -60px;
    transition-delay: 0.3s;
}

@media (max-width: 768px) {
    .hobby-wrap-all {
        padding: 30px 0;
    }
    .hobby-container {
        padding: 30px 0;
    }
    .hobby-container .card {
        margin-bottom: 60px;
    }
}

/* Contact Section */
.footer-container {
    padding-top: 14px;
}

.footer-message {
    padding-bottom: 14px;
}

footer .btn {
    border-radius: 50%;
}

.footer-underline {
    border-color: #aec6cf;
    border-width: 1.5px;
    padding-bottom: 30px;
    max-width: 700px;
    margin: 0 auto;
}

/* Media Queries */

@media (max-width: 767px) {
  .caption h1 {
    font-size: 2.3rem;
    letter-spacing: .15rem;
    padding-bottom: 0.5rem;
  }
  
  .caption h3 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }
}

@media (max-width: 768px) {
    .profile-pic {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0;
        /* max-height: 400px; */
        
    }
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/